<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="All Tests">
    <test name="messenger">
       <classes>
           <class name="download.DownloadTests"></class>
           <class name="alert.AlertTests"></class>
           <class name="login.LoginTests"></class>
           <class name="slider.HorizontalSliderTest"></class>
       </classes>
    </test>
</suite>