<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Tests">
        <classes>
            <class name="tests.FakeRestApiTest">
                <methods>
                    <include name="getActivities"/>
                    <include name="postActivities"/>
                    <include name="deleteActivities"/>
                    <include name="putActivities"/>
                </methods>
            </class>

            <class name="tests.GoogleApiTest">
                <methods>
                    <include name="testAss"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>